<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= appName %></title>
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
	</head>
	<body>
		<img src="images/bg.jpg" id="bg" alt="">
		<div class="container vertical-center">
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div class="jumbotron">
  						<h1><%= appName %></h1>
  						<p>
  							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
  						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div class="progress">
  						<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
  							10%
  						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>