#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

body {
    color: #F6F4F4;
    font-family: 'Work Sans', sans-serif;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0;
}

.vertical-center {
position: relative;
  top: 50%;
  transform: translateY(50%);
}